In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.linear_model import LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.impute import SimpleImputer
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
df = pd.read_csv('C:/data_science/kc_house_data.csv') #Input the dataset
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [3]:
df.info()
#No missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [73]:
df1 = df.copy()
df1.drop('id', axis=1, inplace=True)#Dropping the irrelvant variable
df1

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [74]:
df1['date'] = pd.to_datetime(df1['date']) #converting date time by feature enginning
def grade_arr(x):
    if x <= 3:
        return 'low'
    elif x >= 4 and x < 7:
        return 'low_to_avg'
    elif x == 7:
        return 'avg'
    elif x > 7 and x <=10:
        return 'hign_to_avg'
    else:
        return 'high'

df1['grade_range'] = df1['grade'].apply(grade_arr) #converting grade to specific range
df1.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,grade_range
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,avg
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,avg
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,low_to_avg
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,avg
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,hign_to_avg

In [75]:
grade_dummies = pd.get_dummies(df1['grade_range'], dtype= int) #Converting grade into each columns with dummy values
df1 = pd.concat([df1,grade_dummies], axis=1) #concat them together

In [76]:
df1.drop(['grade_range'], axis=1,inplace=True)#Since our column (grade range (Object value)) is already displayed as a dummy value with different
                                            # columns (low, low_to_avg, avg, high_to_avg, high)

In [77]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
 20  avg            21613 non-null  int32
 21  high           21613 non-null  int32
 22  hign_to_avg    21613 non-null  int32
 23  low            21613 non-null  int32
 24  low_to_avg     21613 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(5), int64(14)
memory usage: 3.7 MB

In [78]:
df1['day'] = df1['date'].dt.day
df1['month'] = df1['date'].dt.month
df1['hour'] = df1['date'].dt.hour
df1['year'] = df1['date'].dt.year
df1.drop(columns= 'date',inplace=True) #Converting them into specific variables, like exact day or month

In [143]:
x = df1.drop('price', axis=1)#Set up Indepandent numerical + categorical variables
y = df1[['price']] #Set uo depandent variable
categorical_features = ['waterfront', 'view', 'condition','avg', 'high', 'hign_to_avg', 'low',
                                    'low_to_avg', 'yr_built' ,'yr_renovated']  # Specify the categorical column names

numerical_features = ['bedrooms' , 'bathrooms' , 'sqft_living' , 'sqft_lot', 'floors','sqft_above',
                      'sqft_basement']

In [135]:
model = sm.OLS(y, x) #do the OLS first to see how many there are influencial points
results = model.fit()

#fig, ax = plt.subplots(figsize=(12,8))
#fig = sm.graphics.influence_plot(results, ax=ax, criterion='cooks') 
# #return the graph

In [136]:
# Get the Cook's distance values for each data point
influence = results.get_influence()
cooks_d = influence.cooks_distance[0]

#Set the threshold based on the 90% of Cook's distance
cooksd_range = np.percentile(cooks_d, 90) 

# Filter with Cook's distance based on the range
filtered_indices = np.where(cooks_d < cooksd_range)[0]
filtered_x = x.iloc[filtered_indices]
filtered_y = y.iloc[filtered_indices]
filtered_model = sm.OLS(filtered_y, filtered_x)
filtered_results = filtered_model.fit()

In [142]:
# Return the influence plot for the filtered results
#fig, ax = plt.subplots(figsize=(12,8))
#fig = sm.graphics.influence_plot(filtered_results, ax=ax, criterion='cooks')

In [145]:

#set up the pipeline with specific process to deal with different data
cat_transformer = Pipeline(steps = [('onehot', OneHotEncoder(handle_unknown='ignore'))])
num_transformer = Pipeline(steps = [('scaler', StandardScaler())])

preprocessor = ColumnTransformer(transformers = [('cat',cat_transformer, categorical_features),
                                                 ('num', num_transformer, numerical_features)])
# Create the LASSO pipeline
LASSO_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    #('pca', PCA(n_components=2)),
    ('regressor', Lasso(alpha=2.0))
])
#Splitting the train and test dataset with 20% test dataset size.
x_train, x_test, y_train, y_test = train_test_split(filtered_x[categorical_features+numerical_features], filtered_y,test_size = 0.2, random_state=1234)
LASSO_re.fit(x_train, y_train)

c:\Users\hechu\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3957861000711.9375, tolerance: 79506289034.47755
  model = cd_fast.sparse_enet_coordinate_descent(

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['waterfront', 'view',
                                                   'condition', 'avg', 'high',
                                                   'hign_to_avg', 'low',
                                                   'low_to_avg', 'yr_built',
                                                   'yr_renovated']),
                                                 ('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['bedrooms', 'bathrooms',
                                                   'sqft_living', 'sqft_lot',
                                                   'floors', 'sqft_above',
                                                   'sqft_basement'])])),
                ('regressor', Lasso(alpha=2.0))])

In [146]:
pred = LASSO_re.predict(x_test) #return the prediction
pred

array([588082.60895569, 816618.61918637, 561633.58804149, ...,
       651050.22977842, 297954.85927329, 232777.44647334])

In [147]:
np.sqrt(mean_squared_error(pred,y_test)) #calculate the RMSE

135925.34200919393

In [148]:
#Similar as above
Ridge_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', Ridge(alpha=2.0))
])
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
Ridge_re.fit(x_train, y_train)
pred_R = Ridge_re.predict(x_test)
np.sqrt(mean_squared_error(pred_R,y_test))

135895.53075175764

In [149]:
#Similar as above
Linear_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
Linear_re.fit(x_train, y_train)
pred_L = Linear_re.predict(x_test)
np.sqrt(mean_squared_error(pred_L,y_test))

135944.8200969741

In [150]:
#Similar as above
El_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', ElasticNet(alpha=2.0, l1_ratio=0.8))
])
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
El_re.fit(x_train, y_train)
pred_E = El_re.predict(x_test)
np.sqrt(mean_squared_error(pred_E,y_test))

164357.46655197424

In [151]:
#Getting the feature name in the pipeline of preprocessors
categorical_feature_names = preprocessor.named_transformers_['cat'].named_steps['onehot'].get_feature_names_out(categorical_features)
#Grouping them togethor into one 
feature_names = numerical_features + list(categorical_feature_names)
# Get the coefficients from the Ridge regression model
lasso_coef = LASSO_re.named_steps['regressor'].coef_

# Combine the feature names with their corresponding coefficients
feature_coef = list(zip(feature_names,lasso_coef))

# Sort the feature_coef list based on the absolute values of the coefficients in descending order
top_features = [(feature, coef) for feature, coef in feature_coef if abs(coef) > 0]
# Sort the feature_coef list based on the absolute values of the coefficients in descending order
top_features.sort(key=lambda x: abs(x[1]), reverse=True)
# Print the top features and corresponding coefficients
for feature, coef in top_features:
    print(f"{feature}: {coef}")

condition_1: -662899.3402120124
bedrooms: -605997.4282642027
sqft_basement: 191092.32433457416
yr_renovated_1945: 190541.49776280456
low_to_avg_1: 178362.7913462714
yr_renovated_0: -161720.8602270812
yr_built_1917: 159333.18558458236
yr_built_1904: 155541.67905746266
low_to_avg_0: 152603.84974647345
yr_built_1902: 147334.9019083112
yr_built_1920: 147193.32674098373
yr_built_1900: 147118.04743520648
low_1: 142918.38711945195
hign_to_avg_1: 142596.0621760869
yr_built_1909: 140575.77967390127
hign_to_avg_0: 140547.59594391234
yr_built_1919: 138868.72041067106
yr_built_1995: -138609.06279957082
yr_renovated_1974: -137934.31417444997
yr_built_1918: 137894.20553828496
yr_built_1983: -135293.6203308814
yr_renovated_2003: 132757.0694488111
yr_built_1903: 132460.55747876465
yr_built_1916: 130131.86355345251
avg_1: 129980.47497806328
yr_built_1905: 129979.09687910322
yr_built_1915: 128030.20390000286
yr_built_2005: -127246.61038338066
yr_built_1928: 126645.23743152292
yr_built_1908: 126295.29197050352
yr_renovated_2011: 126264.0026498202
yr_renovated_1946: -124843.44550266892
high_1: 124799.59105881835
yr_built_1914: 124697.11996481825
yr_built_1986: -123846.12602146786
yr_renovated_1955: -123802.51952997888
yr_built_1913: 121372.62735602065
yr_built_1921: 117496.02205195274
yr_built_1912: 117489.5583036287
yr_built_1907: 116438.0217643247
yr_built_1929: 115400.62265074672
yr_built_1910: 115333.60602072577
yr_built_1911: 114392.92459725514
yr_built_1939: 113222.03669647893
yr_built_1996: -113221.62059325163
yr_built_1987: -111692.2531205136
yr_built_2004: -111666.66797103123
yr_built_1985: -111612.1036257353
yr_built_1930: 110927.93928214964
low_0: 110201.77875990444
yr_built_1938: 110197.03437532282
yr_built_1990: -108969.44206959756
yr_built_1932: 105684.71267039444
yr_built_1991: -105374.62800252059
yr_built_1906: 101900.8926764405
yr_renovated_1968: 101894.62812658658
yr_built_1982: -101494.26144854922
yr_built_1999: -101331.09331464498
yr_built_1901: 100292.89994251254
yr_built_1922: 100044.10411804997
yr_built_1934: 97504.1883093025
yr_built_1998: -96126.01570286267
yr_built_1994: -96125.4951627271
yr_built_1997: -95813.76380145564
yr_built_2003: -95569.87256431008
yr_built_1933: 94033.83865434855
yr_renovated_1967: -93834.0188579969
yr_built_1971: -93528.15667207175
yr_built_1925: 87686.37590263489
yr_built_1992: -87275.77097566047
yr_renovated_1958: -86719.20781536715
yr_built_1979: -86007.02767097933
yr_built_1984: -85859.26845462558
waterfront_0: -85699.64523854315
yr_renovated_1970: -82356.88439355679
yr_built_2002: -80899.81190196396
yr_built_1993: -78907.80017962623
yr_built_1978: -78790.34860996234
yr_built_1935: 77886.15699178277
yr_built_2006: -77821.94642832852
yr_built_1972: -77578.68016390044
yr_built_1989: -76893.20344196538
yr_built_1924: 75927.60096426943
sqft_living: -74780.05679244484
yr_built_1940: 73118.77996337603
yr_renovated_1973: -72967.1375612419
yr_renovated_1998: 72143.9424419278
yr_built_1931: 70506.77224434236
yr_renovated_1992: 70143.39850459009
yr_built_1923: 69838.24925170727
yr_built_1980: -69564.90479268858
yr_built_2001: -69316.57333083203
yr_renovated_1997: 69000.59774777947
yr_built_1981: -67915.11437935208
yr_renovated_1956: -67567.88323289565
yr_renovated_1972: 67025.75789498165
yr_renovated_1979: -64101.46495701282
yr_built_1944: 64063.71340142023
yr_built_1973: -63461.160659621295
yr_built_2010: -63406.00851316682
yr_built_1937: 63223.30786469875
yr_built_1936: 62318.03991513436
yr_built_2007: -62285.92421605299
yr_built_1988: -62181.6791491026
yr_renovated_1940: -61324.27412350136
yr_built_2000: -60620.4918635587
yr_renovated_1982: -59975.28232241111
yr_built_1943: 59686.468060283165
yr_renovated_2007: 59124.51593883154
yr_built_1942: 58142.28277486885
condition_3: -58068.19218694529
yr_built_1970: -57145.001211808405
waterfront_1: -53344.07246691717
yr_renovated_1985: 53339.727709159095
yr_renovated_1981: 53215.64404084364
yr_renovated_1975: -52333.360671110415
yr_renovated_1962: 52156.87265124653
yr_built_1976: -51874.779300599264
sqft_above: 51294.39447106554
yr_renovated_1957: 51230.06090124405
yr_renovated_2000: 48564.373655573116
yr_built_1968: -47661.55310190857
yr_renovated_1999: 47403.85719027901
yr_built_2013: 47138.88747885956
yr_renovated_1960: -46517.831109694154
yr_renovated_1995: 46454.587147045044
yr_renovated_1991: -46019.052895841065
yr_built_1946: 45785.95955957921
view_3: 45705.73008142732
yr_renovated_1934: -44141.583560568106
yr_built_1958: -43427.8356079082
yr_built_2015: -43292.08308431102
yr_built_1941: 43159.54997527375
yr_renovated_1948: -42588.50032488273
yr_built_1959: -41952.85083760094
yr_built_1977: -41802.811764559374
yr_built_1927: 41082.685342093355
yr_built_1960: -41053.57998010427
yr_built_1945: 40760.68779941617
yr_built_1967: -40694.24400724996
yr_renovated_2004: 39204.90626121067
yr_renovated_1993: 38332.950658398324
yr_built_1963: -37861.16423750488
yr_built_2012: 33969.09159555245
yr_built_1969: -32954.88268926179
yr_renovated_1964: -32728.915940740422
yr_built_1955: -32634.977898153178
yr_renovated_1987: 32232.36617096311
yr_built_1974: -31451.836854465695
yr_built_1961: -31129.894603623634
view_2: 29235.21488054553
yr_renovated_2005: 28549.59453933666
yr_built_1975: -28142.939280395003
yr_built_1964: -27135.366682774253
yr_built_1962: -26501.915288928103
yr_renovated_1990: 26189.487445693085
yr_renovated_1986: 25800.095235546545
yr_renovated_1988: 25771.519230025482
yr_renovated_2009: -25401.98271492836
yr_built_1966: -24619.813722943556
yr_renovated_1944: -24563.670799704494
yr_renovated_2010: 22385.727273860888
yr_built_1956: -21295.759934210124
yr_renovated_1996: 20830.35225440933
yr_built_1948: 17338.89198700837
yr_renovated_2001: 16967.774668541806
yr_built_2014: -16325.962588626957
yr_renovated_2002: 16003.373172468759
yr_built_1949: 15845.584075492756
yr_renovated_2013: 14603.65751452759
yr_built_1926: 13845.874124344939
yr_renovated_2006: -13672.913155768625
yr_renovated_1959: 13213.720649075722
yr_renovated_1989: -13105.413892222097
yr_built_2011: -11944.761754865944
yr_renovated_1965: -11810.912481457428
yr_built_1947: 11475.561536343243
yr_renovated_1983: -11334.627443438141
yr_built_1952: -11085.440723088801
yr_built_1953: -10820.14206974039
yr_built_1954: -8849.923850235338
view_0: -8289.961513156784
yr_renovated_1977: -7597.549509936888
yr_renovated_1994: -7203.421341039758
yr_built_1957: -6569.260127500305
view_1: 5787.575897405993
yr_renovated_2015: -5216.052943713544
yr_renovated_2008: 4811.784253234297
yr_renovated_1969: -3004.672646986276
yr_built_2008: 2767.6019630806372
yr_built_1950: 2492.194907293792
sqft_lot: -2255.770426355151
yr_renovated_2012: -2007.7782491617236
yr_built_1951: -1903.3304789120873
yr_renovated_1980: 1411.4187289174336
yr_built_2009: 1331.1101992369543
yr_renovated_1971: -1248.3234008278953
yr_built_1965: -693.6415677016238
yr_renovated_2014: 655.4354199759368
condition_4: 3.705189004732674e-06
high_0: -8.022708567006735e-07
condition_2: 5.611395971547234e-07
bathrooms: 3.237587698366433e-07

Q1:\
In my code, first, I decided to ensure that there is not missing value in the dataset. And then droping the possible irrelvant variables, like ID. And then I tried to transfer some possible categorical variables into dummy vairables, such as Date and grade. Here I have setup 5 different level in grade, 1-3 is low level, 4-6 is low_to_avg level, 7 is avg, 8-10 is high_to_avg, 11-13 is high level. After the transfermation, I noticed that there is still many outliers. And so I designed to sort and filter influencial plots with 90%, which means that the top 10% outliers influencial would be removed from the dataset. And then putting the data into our pipeline that includes the process of standardization and one-hot encoding of our variables seperately. Finally, returning the predictions from different regression models.

Q2:\
Based on the model I learned in the class, Ridge regression model would be the best model I can build to estimate the house price. Based on the several model, I found that Ridge regression have samller R^2 value, and which means that the variance of the prediction is smaller. And so the most accurate model in those models is the Ridge regression model. And also, Multicollinearity would a problem to OLS, but LASSO and Ridge can handle the problem. These two models can also do the trade-off of bias-variance, which improved overall predictive performance. According to the several reasons, Ridge model will be the best model I can use in the prediction of house price.

Q3:\
Based on the best model I have built, the square root of MSE is still high as 135895, which means there are still many errors or any potential issues I didn't figure out. And this also means that the predition is not relaible to estimate the house price exactly. Although the square root of mean square error is high, I can still use the regression model to get some useful information, such as the importance of each features. AS I have shown above, the absolute value of each coefficients show that the strength of the relationship between them and the house price. So, we can see that the most influencial feature is 'bedrooms', which means a unit increase in the 'bedrooms' feature is associated with a decrease in the house price by -605997 units. Since the RMSE is high enough, we can not directly see how this feature influence the house price accurately. But we can expect that this driver is the feature that can decrease the price significantly once the unit increase in 'bedrooms'.