In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.linear_model import LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.impute import SimpleImputer
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [3]:
df = pd.read_csv('C:/data_science/kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [4]:
df.info()
#No missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [5]:
df1 = df.copy()
df1.drop('id', axis=1, inplace=True)
df1

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
df1['date'] = pd.to_datetime(df1['date']) #converting date time by feature enginning
def grade_arr(x):
    if x <= 3:
        return 'low'
    elif x >= 4 and x < 7:
        return 'low_to_avg'
    elif x == 7:
        return 'avg'
    elif x > 7 and x <=10:
        return 'hign_to_avg'
    else:
        return 'high'

df1['grade_range'] = df1['grade'].apply(grade_arr) #converting grade to specific range
df1.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,grade_range
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,avg
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,avg
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,low_to_avg
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,avg
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,hign_to_avg

In [7]:
grade_dummies = pd.get_dummies(df1['grade_range'], dtype= int) #Converting grade into each columns with dummy values
df1 = pd.concat([df1,grade_dummies], axis=1) #concat them together

In [8]:
df1.drop(['grade_range'], axis=1,inplace=True)#Since our column (grade range (Object value)) is already displayed as a dummy value with different
                                            # columns (low, low_to_avg, avg, high_to_avg, high)

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
 20  avg            21613 non-null  int32
 21  high           21613 non-null  int32
 22  hign_to_avg    21613 non-null  int32
 23  low            21613 non-null  int32
 24  low_to_avg     21613 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(5), int64(14)
memory usage: 3.7 MB

In [10]:
df1['day'] = df1['date'].dt.day
df1['month'] = df1['date'].dt.month
df1['hour'] = df1['date'].dt.hour
df1['year'] = df1['date'].dt.year
df1.drop(columns= 'date',inplace=True)

In [11]:
x = df1.drop('price', axis=1)
y = df1[['price']]
x.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,...,sqft_lot15,avg,high,hign_to_avg,low,low_to_avg,day,month,hour,year
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,...,5650,1,0,0,0,0,13,10,0,2014
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,...,7639,1,0,0,0,0,9,12,0,2014
2,2,1.00,770,10000,1.0,0,0,3,6,770,...,8062,0,0,0,0,1,25,2,0,2015
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,...,5000,1,0,0,0,0,9,12,0,2014
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,...,7503,0,0,1,0,0,18,2,0,2015

In [12]:
model = sm.OLS(y, x) 
results = model.fit()

#fig, ax = plt.subplots(figsize=(12,8))
#fig = sm.graphics.influence_plot(results, ax=ax, criterion='cooks')

In [13]:
# Fit the OLS model
model = sm.OLS(y, x)
results = model.fit()

# Get the Cook's distance values and p-values for each data point
influence = results.get_influence()
cooks_d = influence.cooks_distance[0]

#Set the threshold based on the 90th percentile of Cook's distance
cooksd_range = np.percentile(cooks_d, 90) 

# Filter out rows with Cook's distance above the range
filtered_indices = np.where(cooks_d < cooksd_range)[0]
filtered_x = x.iloc[filtered_indices]
filtered_y = y.iloc[filtered_indices]

# Fit the OLS model on the filtered data
filtered_model = sm.OLS(filtered_y, filtered_x)
filtered_results = filtered_model.fit()

# Plot the influence plot for the filtered results
fig, ax = plt.subplots(figsize=(12, 8))
fig = sm.graphics.influence_plot(filtered_results, ax=ax, criterion='cooks')

# Display the plot
plt.show()

In [27]:
categorical_features = ['waterfront', 'view', 'condition','avg', 'high', 'hign_to_avg', 'low',
                                    'low_to_avg', 'yr_built' ,'yr_renovated']  # Specify the categorical column names

numerical_features = ['bedrooms' , 'bathrooms' , 'sqft_living' , 'sqft_lot', 'floors','yr_built', 'yr_renovated', 'sqft_above',
                      'sqft_basement']
target = 'price'
cat_transformer = Pipeline(steps = [('onehot', OneHotEncoder(handle_unknown='ignore'))])
num_transformer = Pipeline(steps = [('scaler', StandardScaler())])

preprocessor = ColumnTransformer(transformers = [('cat',cat_transformer, categorical_features),
                                                 ('num', num_transformer, numerical_features)])
# Create the LASSO pipeline
LASSO_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    #('pca', PCA(n_components=2)),
    ('regressor', Lasso(alpha=2.0))
])
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
LASSO_re.fit(x_train, y_train)

c:\Users\hechu\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12211169784986.375, tolerance: 79506289034.47755
  model = cd_fast.sparse_enet_coordinate_descent(

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['waterfront', 'view',
                                                   'condition', 'avg', 'high',
                                                   'hign_to_avg', 'low',
                                                   'low_to_avg', 'yr_built',
                                                   'yr_renovated']),
                                                 ('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['bedrooms', 'bathrooms',
                                                   'sqft_living', 'sqft_lot',
                                                   'floors', 'yr_built',
                                                   'yr_renovated', 'sqft_above',
                                                   'sqft_basement'])])),
                ('regressor', Lasso(alpha=2.0))])

In [28]:
pred = LASSO_re.predict(x_test)
pred

array([587561.85836827, 817153.79852289, 561780.68081603, ...,
       651223.62403804, 298337.60857901, 232663.43038827])

In [29]:
np.sqrt(mean_squared_error(pred,y_test))

135906.91179073238

In [30]:
Ridge_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', Ridge(alpha=2.0))
])
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
Ridge_re.fit(x_train, y_train)
pred_R = Ridge_re.predict(x_test)
np.sqrt(mean_squared_error(pred_R,y_test))

135846.8124818449

In [31]:
Linear_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
Linear_re.fit(x_train, y_train)
pred_L = Linear_re.predict(x_test)
np.sqrt(mean_squared_error(pred_L,y_test))

135944.18361627107

In [26]:
El_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', ElasticNet(alpha=2.0, l1_ratio=0.8))
])
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
El_re.fit(x_train, y_train)
pred_E = El_re.predict(x_test)
np.sqrt(mean_squared_error(pred_E,y_test))

156219.1994078461

In [20]:
categorical_feature_names = preprocessor.named_transformers_['cat'].named_steps['onehot'].get_feature_names_out(categorical_features)
feature_names = numerical_features + list(categorical_feature_names)
# Get the coefficients from the Ridge regression model
lasso_coef = LASSO_re.named_steps['regressor'].coef_

# Combine the feature names with their corresponding coefficients
feature_coef = list(zip(feature_names,lasso_coef))

# Sort the feature_coef list based on the absolute values of the coefficients in descending order
top_features = [(feature, coef) for feature, coef in feature_coef if abs(coef) > 0]
# Sort the feature_coef list based on the absolute values of the coefficients in descending order
top_features.sort(key=lambda x: abs(x[1]), reverse=True)
# Print the top features and corresponding coefficients
for feature, coef in top_features:
    print(f"{feature}: {coef}")


#Can ridge regression be used for feature selection? you shouldn't expect applying ridge penalty to have this
#  effect. So the answer to your title question is "no."


#Trying to minimize the cost function, Lasso regression will automatically select those features that are useful, 
# discarding the useless or redundant features. In Lasso regression, discarding a feature will make its coefficient equal to 0.

#So, the idea of using Lasso regression for feature selection purposes is very simple: we fit a Lasso regression on a 
# scaled version of our dataset and we consider only those features that have a coefficient different from 0. Obviously, 
# we first need to tune α hyperparameter in order to have the right kind of Lasso regression.

view_3: -675307.9336835209
bedrooms: -630831.2492034673
yr_renovated_1944: -215349.23393031958
yr_built_2015: 196074.4377804924
yr_renovated_1946: 195407.939013516
yr_renovated: 193788.05194143447
condition_5: 133233.09349560092
yr_built_2013: -132193.8122292462
yr_renovated_1988: 122122.17586064909
yr_renovated_1996: 118100.47873826935
yr_renovated_1967: -113355.39288559744
yr_renovated_2004: 101472.2316617792
yr_renovated_1991: 98479.37180717001
yr_renovated_1964: 94861.58738591398
yr_built_2006: 93419.98436593765
yr_renovated_1980: 82964.1378773739
yr_renovated_2007: -79641.80815256116
yr_renovated_1957: -79174.21381824784
sqft_living: -78200.94148903445
yr_built_2005: 77775.57099451001
yr_renovated_1978: 76219.78302512116
yr_renovated_1998: 74949.7983496159
yr_renovated_1953: -74720.55411254447
sqft_above: -73458.32321981157
yr_renovated_1989: 71073.46858236505
yr_renovated_1945: -69590.00895430376
yr_renovated_1962: -64088.23061768212
yr_renovated_1992: 61727.65480686754
yr_built_1937: 60504.67460064303
yr_built_1981: -58367.742939426076
yr_built_1969: -57633.20914618356
hign_to_avg_0: -57192.77486557902
condition_1: -57173.32272443826
yr_built_1915: 55906.460238671236
yr_built_1999: 53272.57375323881
yr_built_1925: -52563.0671444965
yr_renovated_1979: -52197.807363602216
yr_renovated_1987: -52096.08160170956
yr_built_1918: 51222.04342601452
yr_renovated_1971: -49832.599418281265
yr_renovated_2001: 49559.18134679634
yr_renovated_1968: -48448.42163184761
low_to_avg_1: -48170.629849893005
view_1: 47172.895867357256
yr_built_1928: 45826.254512035644
yr_built_1998: 45748.37562128128
sqft_basement: -45099.00786370935
yr_renovated_1950: -45059.765853753015
yr_renovated_1963: 44929.926638080295
yr_renovated_1951: 42762.65958574156
yr_renovated_1973: -42597.188940606815
yr_built_2004: 42525.698835280826
yr_renovated_1997: 41845.145517768506
yr_built_1970: -40625.80137085625
yr_renovated_1993: 40187.30020056668
yr_built: 40017.33537164365
yr_built_1956: -39697.53666793089
yr_built_1953: -39445.112462934216
yr_built_1932: 38955.2979565462
yr_built_1917: 37236.73882999394
yr_built_1984: -37142.876740067346
yr_built_2000: 36146.34001897231
yr_built_2009: 35803.07000835322
yr_built_1942: 35491.81180049945
yr_renovated_2000: 35452.15726991638
yr_built_2012: -35312.10617862077
yr_built_1936: 34455.35467415879
yr_built_1957: -34337.1584388536
view_0: 33481.716270991914
yr_built_1930: 32980.75621136505
yr_renovated_1983: 32132.454430841117
yr_built_1959: -31531.03878718532
yr_built_1980: -31406.62996333316
yr_built_1983: -30564.943547645857
yr_built_1991: 29211.36230074823
yr_built_1958: -27462.33767636634
yr_renovated_1972: -26008.440111277087
yr_built_1985: -25588.73364752349
yr_built_1916: 25509.94177531078
yr_renovated_1974: -25450.344472483073
yr_built_1977: -25268.464455723213
yr_built_2001: 25160.562271275347
yr_built_1989: -24865.49013083508
yr_renovated_2002: -24320.629510332416
yr_built_1931: 24230.405804409278
yr_built_1948: -24114.814519196087
yr_renovated_1981: 23459.475324792034
yr_built_2007: -23389.94611067304
yr_renovated_1995: 22757.10005487498
yr_built_1924: -22666.4966173287
yr_renovated_1990: 22659.31866992043
yr_built_1950: -22631.748582377164
yr_built_2011: -22468.281576047164
yr_built_1938: 22435.03021271784
yr_renovated_1955: -22150.92091439369
yr_renovated_2009: 21893.258491086603
yr_built_1921: -21805.668461561367
yr_built_1927: 21779.863372139152
avg_1: -21589.766424512847
yr_renovated_2003: 21543.92545381613
yr_built_1919: 21413.97120918848
yr_renovated_1985: 21395.65467926845
yr_renovated_1969: -21265.30778542002
yr_built_1909: -20979.17092796647
yr_built_1923: 20790.07350335264
yr_renovated_0: -20456.7797415557
yr_built_1973: 20129.467536136275
yr_built_1975: 20063.430858628144
yr_built_1905: -19806.165504234606
yr_built_1951: -19580.38170942484
yr_built_2002: 19245.715293660098
yr_renovated_1984: -18994.800240527496
yr_built_1993: -18715.92747036276
yr_built_1949: -18470.705628149648
yr_built_1903: -18252.372104257403
yr_built_1954: -17937.53547955506
yr_built_1952: -17316.08345954776
yr_built_1976: -17048.454060967015
high_0: -16857.732573830293
yr_renovated_2006: 15748.477420440608
yr_built_1963: 15697.127509940732
yr_built_1966: -15519.330942822697
yr_built_1971: -15101.316965221542
yr_built_1996: 15079.349519476282
yr_built_2008: -14774.696592397284
sqft_lot: -14471.26478676144
yr_built_1944: 14184.747648816847
yr_built_1913: 14113.087116629451
yr_built_1965: -13916.794006212573
yr_built_1968: -13901.466060168474
yr_built_1972: 13595.443189073116
yr_built_1943: 13176.55750900723
yr_built_1940: 12825.236693178986
yr_built_1995: 12765.858151370723
yr_built_1914: 12714.503622607002
high_1: -12615.139655957983
yr_built_1920: 12486.039202601765
yr_built_1941: 12058.139668051204
yr_built_1978: -11872.301139122363
yr_built_1922: -11825.838061491622
yr_built_2014: -11810.049143478622
yr_renovated_1982: 11763.466581339391
yr_built_1997: 11640.500147338622
yr_built_1933: 11460.07888767708
yr_built_1982: -11008.546944948443
yr_renovated_1965: 10700.373512857728
yr_built_1901: -10593.769468055032
yr_built_1955: -10353.602798344189
yr_built_1907: 10322.008543250116
yr_built_1988: -10320.20491696173
hign_to_avg_1: 10140.645499379874
yr_renovated_1970: -10106.01621140001
yr_renovated_1975: 10007.907763863772
yr_built_1910: 9889.496139529301
yr_built_1945: -9832.820593073033
yr_built_1900: -9466.644740566311
yr_built_1960: -9433.36984016365
yr_built_1987: 9146.058617830915
yr_built_1929: -8947.319057531402
low_0: 8697.965130959055
yr_renovated_1959: -8596.585709754578
yr_built_1964: 8399.84845634479
yr_built_1962: -8135.731147217661
yr_renovated_2010: 7853.2017222541945
yr_built_1947: -7688.7183425537205
yr_built_1992: 7678.85664296016
yr_built_1994: -7386.996368427758
yr_renovated_1956: -7111.895638524908
low_1: 6875.957282192789
yr_built_1939: 6709.517739793982
yr_renovated_1960: -6679.4057318268615
waterfront_0: -6017.11105342349
yr_built_1935: 5906.462013849766
yr_built_1912: -5822.645513494935
yr_renovated_1994: 5748.370632913481
yr_built_1908: -5487.669191301443
waterfront_1: 5435.035998347958
yr_built_1967: -5233.594806545538
yr_renovated_1986: 5191.00311697495
yr_renovated_2008: -4407.325979591529
yr_built_1926: 4384.443077491564
yr_built_1961: -4358.661228273322
yr_built_1902: 3889.234611338743
yr_renovated_1977: -3740.207292572258
yr_built_1911: -2870.3648943474686
yr_renovated_2005: -2446.5157666116907
yr_built_1934: 2101.062672472701
yr_built_1974: 2093.695432791874
yr_built_1986: -1843.3785060637524
yr_built_1946: -1504.3678342359426
yr_built_1906: 1359.7478724184323
yr_built_1990: 337.5163902642933
yr_built_1904: 301.80126375697824
avg_0: -3.891944309937744e-06
view_2: -2.9378168741436632e-06
view_4: 3.674672608831712e-07
bathrooms: 2.3137862134298026e-07

Q2:\
Based on the model I learned in the class, Ridge regression model would be the best model I can build to estimate the house price. Based on the several model, I found that Ridge regression have samller R^2 value, and which means that the variance of the prediction is smaller. And so the most accurate model in those models is the Ridge regression model. And also, Multicollinearity would a problem to OLS, but LASSO and Ridge can handle the problem. These two models can also do the trade-off of bias-variance, which improved overall predictive performance. According to the several reasons, Ridge model will be the best model I can use in the prediction of house price.

Q3:\
Based on the best model I have built, the square root of MSE is still high as 146398, which means there are still many errors or any potential issues I didn't figure out. And this also means that the predition is not relaible to estimate the house price exactly. Although the square root of mean square error is high, I can still use the regression model to get some useful information, such as the importance of each features. AS I have shown above, the absolute value of each coefficients show that the strength of the relationship between them and the house price. So, we can see that the most influencial feature is 'bedrooms', which means a unit increase in the 'bedrooms' feature is associated with a decrease in the house price by -630831 units. Since the RMSE is high enough, we can not directly see how this feature influence the house price accurately. But we can expect that this driver is the feature that can decrease the price significantly once the unit increase in 'bedrooms'.