In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.linear_model import LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.impute import SimpleImputer
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
df = pd.read_csv('C:/data_science/kc_house_data.csv') #Input the dataset
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [3]:
df.info()
#No missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [73]:
df1 = df.copy()
df1.drop('id', axis=1, inplace=True)#Dropping the irrelvant variable
df1

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [74]:
df1['date'] = pd.to_datetime(df1['date']) #converting date time by feature enginning
def grade_arr(x):
    if x <= 3:
        return 'low'
    elif x >= 4 and x < 7:
        return 'low_to_avg'
    elif x == 7:
        return 'avg'
    elif x > 7 and x <=10:
        return 'hign_to_avg'
    else:
        return 'high'

df1['grade_range'] = df1['grade'].apply(grade_arr) #converting grade to specific range
df1.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,grade_range
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,avg
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,avg
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,low_to_avg
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,avg
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,hign_to_avg

In [75]:
grade_dummies = pd.get_dummies(df1['grade_range'], dtype= int) #Converting grade into each columns with dummy values
df1 = pd.concat([df1,grade_dummies], axis=1) #concat them together

In [76]:
df1.drop(['grade_range'], axis=1,inplace=True)#Since our column (grade range (Object value)) is already displayed as a dummy value with different
                                            # columns (low, low_to_avg, avg, high_to_avg, high)

In [77]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
 20  avg            21613 non-null  int32
 21  high           21613 non-null  int32
 22  hign_to_avg    21613 non-null  int32
 23  low            21613 non-null  int32
 24  low_to_avg     21613 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(5), int64(14)
memory usage: 3.7 MB

In [78]:
df1['day'] = df1['date'].dt.day
df1['month'] = df1['date'].dt.month
df1['hour'] = df1['date'].dt.hour
df1['year'] = df1['date'].dt.year
df1.drop(columns= 'date',inplace=True) #Converting them into specific variables, like exact day or month

In [104]:
x = df1.drop('price', axis=1)#Set up Indepandent numerical + categorical variables
y = df1[['price']] #Set uo depandent variable
categorical_features = ['waterfront', 'view', 'condition','avg', 'high', 'hign_to_avg', 'low',
                                    'low_to_avg', 'yr_built' ,'yr_renovated']  # Specify the categorical column names

numerical_features = ['bedrooms' , 'bathrooms' , 'sqft_living' , 'sqft_lot', 'floors','yr_built', 'yr_renovated', 'sqft_above',
                      'sqft_basement']

In [105]:
model = sm.OLS(y, x) #do the OLS first to see how many there are influencial points
results = model.fit()

#fig, ax = plt.subplots(figsize=(12,8))
#fig = sm.graphics.influence_plot(results, ax=ax, criterion='cooks') 
# #return the graph

In [111]:
# Get the Cook's distance values for each data point
influence = results.get_influence()
cooks_d = influence.cooks_distance[0]

#Set the threshold based on the 90% of Cook's distance
cooksd_range = np.percentile(cooks_d, 90) 

# Filter with Cook's distance based on the range
filtered_indices = np.where(cooks_d < cooksd_range)[0]
filtered_x = x.iloc[filtered_indices]
filtered_y = y.iloc[filtered_indices]
filtered_model = sm.OLS(filtered_y, filtered_x)
filtered_results = filtered_model.fit()

In [ ]:
# Return the influence plot for the filtered results
#fig, ax = plt.subplots(figsize=(12,8))
#fig = sm.graphics.influence_plot(filtered_results, ax=ax, criterion='cooks')

In [107]:
categorical_features = ['waterfront', 'view', 'condition','avg', 'high', 'hign_to_avg', 'low',
                                    'low_to_avg', 'yr_built' ,'yr_renovated']  # Specify the categorical column names

numerical_features = ['bedrooms' , 'bathrooms' , 'sqft_living' , 'sqft_lot', 'floors','yr_built', 'yr_renovated', 'sqft_above',
                      'sqft_basement']
#set up the pipeline with specific process to deal with different data
cat_transformer = Pipeline(steps = [('onehot', OneHotEncoder(handle_unknown='ignore'))])
num_transformer = Pipeline(steps = [('scaler', StandardScaler())])

preprocessor = ColumnTransformer(transformers = [('cat',cat_transformer, categorical_features),
                                                 ('num', num_transformer, numerical_features)])
# Create the LASSO pipeline
LASSO_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    #('pca', PCA(n_components=2)),
    ('regressor', Lasso(alpha=2.0))
])
#Splitting the train and test dataset with 20% test dataset size.
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
LASSO_re.fit(x_train, y_train)

c:\Users\hechu\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12211169784986.375, tolerance: 79506289034.47755
  model = cd_fast.sparse_enet_coordinate_descent(

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['waterfront', 'view',
                                                   'condition', 'avg', 'high',
                                                   'hign_to_avg', 'low',
                                                   'low_to_avg', 'yr_built',
                                                   'yr_renovated']),
                                                 ('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['bedrooms', 'bathrooms',
                                                   'sqft_living', 'sqft_lot',
                                                   'floors', 'yr_built',
                                                   'yr_renovated', 'sqft_above',
                                                   'sqft_basement'])])),
                ('regressor', Lasso(alpha=2.0))])

In [91]:
pred = LASSO_re.predict(x_test) #return the prediction
pred

array([587561.85836827, 817153.79852289, 561780.68081603, ...,
       651223.62403804, 298337.60857901, 232663.43038827])

In [92]:
np.sqrt(mean_squared_error(pred,y_test)) #calculate the RMSE

135906.91179073238

In [93]:
#Similar as above
Ridge_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', Ridge(alpha=2.0))
])
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
Ridge_re.fit(x_train, y_train)
pred_R = Ridge_re.predict(x_test)
np.sqrt(mean_squared_error(pred_R,y_test))

135846.8124818449

In [94]:
#Similar as above
Linear_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
Linear_re.fit(x_train, y_train)
pred_L = Linear_re.predict(x_test)
np.sqrt(mean_squared_error(pred_L,y_test))

135944.18361627107

In [95]:
#Similar as above
El_re = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', ElasticNet(alpha=2.0, l1_ratio=0.8))
])
x_train, x_test, y_train, y_test = train_test_split(filtered_x, filtered_y,test_size = 0.2, random_state=1234)
El_re.fit(x_train, y_train)
pred_E = El_re.predict(x_test)
np.sqrt(mean_squared_error(pred_E,y_test))

156219.1994078461

In [96]:
#Getting the feature name in the pipeline of preprocessors
categorical_feature_names = preprocessor.named_transformers_['cat'].named_steps['onehot'].get_feature_names_out(categorical_features)
#Grouping them togethor into one 
feature_names = numerical_features + list(categorical_feature_names)
# Get the coefficients from the Ridge regression model
lasso_coef = LASSO_re.named_steps['regressor'].coef_

# Combine the feature names with their corresponding coefficients
feature_coef = list(zip(feature_names,lasso_coef))

# Sort the feature_coef list based on the absolute values of the coefficients in descending order
top_features = [(feature, coef) for feature, coef in feature_coef if abs(coef) > 0]
# Sort the feature_coef list based on the absolute values of the coefficients in descending order
top_features.sort(key=lambda x: abs(x[1]), reverse=True)
# Print the top features and corresponding coefficients
for feature, coef in top_features:
    print(f"{feature}: {coef}")

view_3: -662717.165888778
bedrooms: -606060.8397656429
yr_renovated_1940: 192412.32400995464
yr_renovated: 191065.03643759407
yr_built_2014: -158054.24702625358
yr_built_2006: 138036.64838979472
yr_renovated_2001: 136961.92589221205
yr_renovated_1972: -135115.2043836993
condition_5: 130225.59505866462
yr_renovated_1944: -121451.9376691877
yr_renovated_1951: -120049.80635047439
yr_renovated_1965: 105846.73233029197
yr_renovated_2009: 104141.51218488936
yr_renovated_1964: -89930.12058279364
sqft_above: -85678.75069161781
yr_renovated_1956: -82574.42347745007
yr_renovated_1968: -79594.10077315551
yr_renovated_2012: -76598.64703021092
yr_renovated_1996: 75431.471583628
sqft_living: -74627.5295235335
yr_renovated_1990: 73755.87012280503
yr_renovated_1995: 72918.0291991082
yr_renovated_1970: 70277.81128240576
yr_built_2005: 70167.92207522216
yr_renovated_1971: -68755.62959496072
yr_built_1937: 67668.09132891765
yr_built_1981: -65685.56552371387
yr_renovated_1953: -63198.83346490198
yr_renovated_2005: 63178.4548912395
yr_built_1936: 61975.28791889635
yr_built_1924: -61409.19449507023
yr_renovated_1977: -60276.045569412185
yr_built_2008: -58938.4142965102
condition_1: -58129.58730928563
yr_renovated_0: -57863.111205328205
yr_renovated_1983: 56979.30816934815
yr_renovated_1979: 56625.12157175456
yr_renovated_1980: -56283.74315037394
yr_built_1915: 55897.58330591383
yr_renovated_1959: 55811.12073616438
yr_built_1969: -55178.439598670266
yr_renovated_1955: 54289.17110890422
yr_built_1998: 53381.65265726073
sqft_basement: -53291.99444980445
yr_renovated_1998: 52584.372484240266
yr_built_1926: 52183.104785500684
yr_built_2004: 51714.09154647109
yr_built_1918: 51460.01663442317
yr_built: 51367.73229469624
yr_renovated_1997: 51309.72866551816
yr_renovated_1993: 49911.38953674604
yr_built_2011: 49055.38859386991
yr_renovated_1973: -48882.30524513723
yr_built_1999: 47248.976936279796
hign_to_avg_0: -46487.21649515525
yr_built_1984: -46378.687968335624
view_1: 45726.70918585064
low_to_avg_1: -44229.40063014713
yr_renovated_2002: 43691.663065272915
yr_built_1927: 43456.32113958268
yr_renovated_1958: -42750.83677974084
yr_renovated_1991: 42004.34373233933
yr_renovated_1989: -41879.43064555421
yr_built_1930: 41636.34891091154
yr_built_1928: 41563.67395383103
avg_1: -40699.5404942098
yr_built_1917: 40568.49735932507
yr_built_2015: -40089.281971905
yr_built_2013: -39709.07410712735
yr_built_1956: -39163.94878261636
yr_renovated_1945: -38940.536321367275
yr_built_1932: 38751.6243367111
yr_built_2000: 38240.78300522779
yr_built_1993: -37518.35803988956
yr_built_1916: 36961.49962091546
yr_built_2010: 36827.0567781181
yr_built_1983: -36760.83304095946
yr_built_1970: -36621.13266067728
yr_built_1953: -36156.477934313894
yr_renovated_1985: 35765.804713794714
yr_built_1957: -35027.64397715932
yr_built_1980: -34496.69197149985
yr_renovated_2003: 32622.632893661492
yr_built_1931: 32584.019492627336
yr_built_1942: 31654.647469590123
yr_built_1985: -31591.056707422118
yr_built_1958: -31509.104908217476
yr_built_1925: -31035.912438851254
yr_renovated_1988: 30289.99507829771
yr_built_1938: 30184.356273830166
yr_renovated_1986: 29863.34370157698
view_0: 29058.752198167283
yr_built_1904: -28790.632617694886
yr_renovated_1962: -28771.248640149355
yr_renovated_1984: 28760.0379159584
low_1: 27336.07327430846
yr_built_1977: -26804.94803744007
yr_built_2001: 26034.860606055296
yr_renovated_2007: -25470.01868745965
yr_renovated_1994: 24761.095003744267
yr_built_1941: 24675.298218588872
yr_built_1919: 24476.538499840273
yr_built_1914: 24046.226021726183
yr_renovated_2008: 22629.614514418965
yr_built_1950: -22492.732346764602
yr_built_1954: -22236.983574754508
yr_built_1976: -22193.3289923077
yr_built_1933: 21906.43308004799
yr_renovated_2014: 21525.389304307206
yr_built_1968: -21369.68460756867
yr_built_1963: 21354.62082987855
high_0: -21164.277914553164
yr_built_1988: -21039.302243335373
yr_renovated_1999: 21007.860359881826
yr_renovated_1934: -20865.045968242433
yr_built_1940: 20450.518597518065
yr_built_1961: -20324.251020464115
yr_renovated_2000: 20252.087582414635
yr_built_1986: 20047.579978301586
yr_built_1971: -19854.371316370572
yr_built_1973: 19794.298608311798
yr_built_1951: -19614.541964963297
yr_built_1913: 19272.18416802596
yr_built_1959: -18927.17263085007
yr_built_1944: 18619.64351047172
yr_built_1902: 17821.157810612898
yr_renovated_1957: 17172.01746852076
yr_built_1966: -17093.074032591485
yr_built_1921: -16848.365524798024
yr_built_1991: 16419.43292225737
yr_built_1907: 16025.510707158144
yr_built_1949: -15941.92454048519
high_1: -15625.108041843912
yr_built_1952: -15020.46618654884
yr_built_1989: -14784.77351725
yr_renovated_2011: 14706.870081345633
yr_built_1972: 14399.504037490215
yr_built_1948: -13783.657537570738
yr_built_1982: -13618.15482316942
yr_built_1912: 13187.323380283991
yr_built_1965: -12838.554162265062
yr_built_1945: -12771.4599530286
yr_built_2012: -12669.95718174773
yr_built_1996: 12653.156657691521
yr_built_2007: -12516.450993413771
yr_built_1935: 12450.422184675508
yr_built_2002: 12433.430602363345
yr_built_1975: 11825.914247899862
yr_built_1960: -11576.737604115724
yr_built_1905: -11484.572057911484
hign_to_avg_1: -11248.282199918598
yr_built_1943: 10943.556772746266
yr_built_1995: 10344.198824688203
yr_built_1997: 10043.029198509017
yr_renovated_2004: -9652.925086667097
yr_renovated_1963: -9649.875256484007
yr_built_1920: 9528.65035731881
yr_built_1994: -9485.077868438146
yr_renovated_1987: -9229.80708444276
yr_renovated_2006: 8988.810477616149
yr_built_1934: 8943.406070810439
waterfront_0: -8063.810633823262
yr_built_1987: 7967.548606710943
yr_built_2009: -7919.583068170644
yr_built_1922: -7791.957357029238
yr_built_1978: -7772.804715814555
yr_built_1901: -7411.0374874373065
yr_built_1911: 7368.026382348762
yr_renovated_1981: -7341.916579816832
yr_built_1962: -7029.742232762742
yr_renovated_2015: 6406.665172097155
waterfront_1: 5812.75093943113
yr_built_1990: 5551.575427550728
yr_built_1923: 5276.40352377856
yr_renovated_1978: 4928.035376674325
yr_built_1908: -4913.251126927811
yr_built_1955: -4903.657210833225
yr_built_1946: -4291.9170455332805
yr_built_1900: 4276.762851242109
yr_built_1909: -4115.225169285225
yr_built_1903: -4024.802278246544
yr_renovated_1974: -4009.3917836112023
yr_built_1929: 3954.8828623964496
yr_built_1979: -3523.527845345811
yr_renovated_1982: 3351.7055233567553
yr_renovated_1992: -3311.6691329626483
yr_renovated_2013: -3138.896110819473
yr_built_1947: -3050.761977607251
yr_built_1939: 2856.1545312811777
sqft_lot: -2232.674801932379
yr_built_1992: 2006.0971501525066
yr_renovated_2010: -2002.883378050984
yr_built_1910: 807.4441724442507
yr_built_1974: -432.59191571519324
yr_built_1964: 94.87252284753069
condition_2: 3.7098118184961855e-06
avg_0: -7.859291015252423e-07
view_4: 6.89279466496907e-07
bathrooms: 4.321425600751798e-07

Q1:\
In my code, first, I decided to ensure that there is not missing value in the dataset. And then droping the possible irrelvant variables, like ID. And then I tried to transfer some possible categorical variables into dummy vairables, such as Date and grade. Here I have setup 5 different level in grade, 1-3 is low level, 4-6 is low_to_avg level, 7 is avg, 8-10 is high_to_avg, 11-13 is high level. After the transfermation, I noticed that there is still many outliers. And so I designed to sort and filter influencial plots with 90%, which means that the top 10% outliers influencial would be removed from the dataset. And then putting the data into our pipeline that includes the process of standardization and one-hot encoding of our variables seperately. Finally, returning the predictions from different regression models.

Q2:\
Based on the model I learned in the class, Ridge regression model would be the best model I can build to estimate the house price. Based on the several model, I found that Ridge regression have samller R^2 value, and which means that the variance of the prediction is smaller. And so the most accurate model in those models is the Ridge regression model. And also, Multicollinearity would a problem to OLS, but LASSO and Ridge can handle the problem. These two models can also do the trade-off of bias-variance, which improved overall predictive performance. According to the several reasons, Ridge model will be the best model I can use in the prediction of house price.

Q3:\
Based on the best model I have built, the square root of MSE is still high as 146398, which means there are still many errors or any potential issues I didn't figure out. And this also means that the predition is not relaible to estimate the house price exactly. Although the square root of mean square error is high, I can still use the regression model to get some useful information, such as the importance of each features. AS I have shown above, the absolute value of each coefficients show that the strength of the relationship between them and the house price. So, we can see that the most influencial feature is 'bedrooms', which means a unit increase in the 'bedrooms' feature is associated with a decrease in the house price by -630831 units. Since the RMSE is high enough, we can not directly see how this feature influence the house price accurately. But we can expect that this driver is the feature that can decrease the price significantly once the unit increase in 'bedrooms'.